/* Import DM Sans font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
}
p {
  font-weight: 400;
}
.container {
  max-inline-size: 95%;
  margin: 3rem auto;
  display: grid;
  gap: 1.5rem;

  @media (width > 375px) {
    max-inline-size: 90%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, 30vh);
  }
}
.container img {
  max-width: 100%;
  display: block;
}
.container > * {
  display: grid;
  border-radius: 0.75rem;
}
.container div:first-child {
  background-color: var(--purple-500);
  color: var(--white);
  padding: 2.5rem;
  font-size: 1.35rem;
  text-align: center;
  place-items: center;
  row-gap: 0.5rem;
  @media (width > 375px) {
    font-size: 1.5rem;
    grid-column: 2 / span 2;
  }
}
.container div:first-child h1 {
  margin-bottom: 1rem;
}
.container div:first-child span {
  color: var(--yellow-500);
}
.container div:first-child img {
  max-width: 90%;
  @media (width > 375px) {
    max-width: 40%;
  }
}
.container div:first-child p {
  font-size: 1.3rem;
}
.container div:nth-child(2) {
  background-color: white;
  box-shadow: 0px 0px 2px 1px hsl(0deg 0% 91% / 88%);
  padding: 1.5rem;
  row-gap: 1rem;
  @media (width > 375px) {
    overflow: hidden;
  }
}
.container div:nth-child(2) img {
  order: -1;
  filter: drop-shadow(0px 0px 1rem hsla(0, 2%, 89%, 0.25));
  border-radius: 100vh;
  @media (width > 375px) {
    max-width: 150%;
  }
}
.container div:nth-child(3) {
  grid-template-columns: auto auto;
  padding: 1.5rem 1.5rem 0;
  row-gap: 1rem;
  background-color: var(--yellow-500);
  @media (width > 375px) {
    grid-template-columns: auto;
    overflow: hidden;
  }
}
.container div:nth-child(3) h2 {
  grid-column: span 2;
  @media (width > 375px) {
    grid-column: span 1;
  }
}

.container div:nth-child(4) {
  background-color: var(--purple-100);
  padding: 1.5rem 1rem;
  text-align: center;
  row-gap: 1.25rem;
  @media (width > 375px) {
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 4;
    grid-row: 1 / span 2;
    text-align: start;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
  }
}
.container div:nth-child(4) h2 {
  @media (width > 375px) {
    font-size: 2rem;
  }
}
.container div:nth-child(4) img {
  @media (width > 375px) {
    max-width: 130%;
    min-width: 100%;
    aspect-ratio: 1;
    transform: translateX(1rem);
  }
}

.container div:nth-child(4) p {
  padding-inline: 0.35rem;
  font-size: 20px;
  color: var(--black);
  line-height: 1.35rem;
}
.container div:nth-child(5) {
  background-color: var(--purple-500);
  color: white;
  padding: 2rem 3rem;
  row-gap: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  @media (width > 375px) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: start;
    padding: 1rem;
    row-gap: 1rem;
    grid-column: 3 / span 2;
    grid-row: 3;
  }
}
.container div:nth-child(5) img {
  order: -1;
}
.container div:nth-child(6) {
  background-color: var(--white);
  grid-template-columns: auto auto;
  box-shadow: 0px 0px 2px 1px hsl(0deg 0% 91% / 88%);
  padding: 1.5rem;
  row-gap: 1rem;

  @media (width > 375px) {
    grid-template-columns: auto;
  }
}
.container div:nth-child(6) h2 {
  grid-column: span 2;
  @media (width > 375px) {
    grid-column: span 1;
  }
}
.container div:nth-child(6) p:first-of-type {
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 3.5rem;
}
.container div:nth-child(6) p + p {
  font-size: 1.35rem;
  color: var(--black);
}
.container div:nth-child(7) {
  grid-template-columns: auto auto;
  background-color: var(--yellow-100);
  row-gap: 1.75rem;
  padding: 2.25rem;
  @media (width > 375px) {
    grid-template-columns: auto;
    grid-row: 1;
    margin-bottom: -10vh;
  }
}
.container div:nth-child(7) h2 {
  grid-column: span 2;
  font-size: 2.5rem;
  line-height: 2.25rem;
  span {
    color: var(--purple-500);
    font-style: italic;
  }
  @media (width > 375px) {
    grid-column: span 1;
  }
}
.container div:last-child {
  grid-template-columns: auto auto;
  background-color: var(--yellow-500);
  padding: 1.75rem;
  row-gap: 1.25rem;
  @media (width > 375px) {
    grid-template-columns: auto;
    align-content: space-between;
    justify-items: center;
    grid-column: 1;
    grid-row: 2 / span 2;
    margin-top: 10vh;
  }
}
.container div:last-child img {
  @media (width > 375px) {
    max-width: 75%;
  }
}

.container div:last-child h2 {
  grid-column: span 2;
  font-size: 2.15rem;
  line-height: 2rem;
  @media (width > 375px) {
    grid-column: span 1;
    font-size: 3rem;
    line-height: 3rem;
  }
}
